<html>
    <head>
    </head>
<body ng-controller="MainController"> <!-- Our HTML -->
<div class="container">
        <h1>List</h1>
        <!-- Existing items rows -->
        <div class="row">
<div ng-repeat="item in vm.list track by item._id" style="padding:10px"> <button class="btn btn-danger" ng-click="vm.removeItem(item)">x</button> {{item.details}}
            </div>
        </div>
        <!-- New Item row -->
        <div class="row">
            <form role="form">
                <div class="form-group">
<label for="newItemDetails">New Item Details:</label> <input type="text" class="form-control"
placeholder="Details of new todo item" ng-model="vm.newItemDetails">
                </div>
                <button type="submit" class="btn btn-primary"
            </form>
        </div>
    </div>
</body>
    
    <script>var demoApp = angular.module('demo', []);
demoApp.controller('MainController', ['$scope', 'guidService', function ($scope, guidService) { // Setup a view model
var vm = {};
vm.list = [
{ _id: guidService.createGuid(), details: 'Demo First Item' }, { _id: guidService.createGuid(), details: 'Demo Second Item' }
];
vm.addItem = function () {
// TODO: send to server then, vm.list.push({
            _id: guidService.createGuid(),
            details: vm.newItemDetails
        });
        vm.newItemDetails = '';
    };
vm.removeItem = function (itemToRemove) {
// TODO: delete from the server then
vm.list = vm.list.filter(function (item) { return item._id !== itemToRemove._id; });
    };
    // For new items:
vm.newItemDetails = '';
    // expose the vm using the $scope
    $scope.vm = vm;
}]);
demoApp.service('guidService', function () { return {
createGuid: function () {
return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
} };
});</script>
</html>